body {
	background: rgba(0, 0, 0, 0.99) !important;
}
span.pw {
    color: #a0a0a0;
}
#status, #idName, #student {
	color: #8597A4 !important;
}
#student {
	border-bottom: 2px solid #8597A4 !important;
}
h1, h2, h3, h4, h5, h6 {
	color: white;
}
.emph {
    color:#cfdfea;
    font-size:14px;
    font-weight: bold;
    background:#46515a;
    border-radius: 3px;
    padding:3px 6px;
}
#prenav {
	background-color: rgba(0, 0, 0, 0.95) !important;
}
a:hover{
    color: #FFF;
	text-decoration: none;
}
.active a{
    color: #FFF;
}
.bgc-white{
	background-color: rgba(0, 0, 0, 0.95);
}
.twtr .icon-lg, .fbook .icon-lg, .rmnd .icon-lg, .gith .icon-lg, .mail1 .icon-lg, .mail2 .icon-lg, .mail3 .icon-lg, .mail4 .icon-lg{
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
	color: rgba(255, 255, 255, 0.6);
}
label {
	color: rgba(255, 255, 255, 0.6);
}
#pull {
	background: rgba(0, 0, 0, 0.95) !important; 
}